<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.1.231"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="79"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="Init"/>
    <stringAttribute key="modelBehaviorNext" value="Next"/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="initial_topics, pc, heartbeat_queue, pub_time, topics, pub_dst"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TerminationInvariant"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value="Check"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Nothing;;Nothing;1;0"/>
        <listEntry value="Debug;;TRUE;0;0"/>
        <listEntry value="NodeCount;;2;0;0"/>
        <listEntry value="Duration;;3;0;0"/>
        <listEntry value="InitialEvictionMax;;1;0;0"/>
        <listEntry value="DistinctTopicCount;;2;0;0"/>
        <listEntry value="InitialAgeMax;;1;0;0"/>
        <listEntry value="TopicsPerNodeMax;;2;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="10"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="cyphal_topics"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
